[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cffi = "*"
aiohttp = ">=3.3.2"
sympy = "*"
aioredis = "==1.2.0"
coverage = "*"
expiringdict = {git = "https://github.com/mailgun/expiringdict.git", ref = "2fa0e533c2737e89ccaf66e72b497f5a654d2607"}
psutil = "*"
xmltodict = "*"
Markdown = "*"
Pillow = "*"
termcolor = "*"
objgraph = "*"
"discord.py" = "==1.3.3"

[dev-packages]
pytest = ">=3.6.1"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-ordering = "*"
pytest-quickcheck = "==0.8.3"

[requires]
python_version = "3.6"
