[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cffi = "*"
aiohttp = "==3.3.2"
sympy = "*"
aioredis = "==1.2.0"
coverage = "*"
expiringdict = {git = "https://github.com/mailgun/expiringdict.git", ref = "2fa0e533c2737e89ccaf66e72b497f5a654d2607"}
psutil = "*"
xmltodict = "*"
Markdown = "*"
Pillow = "*"
termcolor = "*"
objgraph = "*"
"discord.py" = {git = "https://github.com/DXsmiley/discord.py.git", ref="a3a3808cc233cb1eeda36ac360011eb7dd69594b"}

[dev-packages]
pytest = "==3.6.1"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-ordering = "*"
pytest-quickcheck = "==0.8.3"
dismock = {git = "https://github.com/RenanMsV/dismock.git", ref = "8615119682a543ee2ebdb84646eb415f2c2729f8"}

[requires]
python_version = "3.6"
