body {
	margin: 0px;
	box-sizing: border-box;
	overflow-x: hidden;
	/*font-weight: normal;*/
	color: rgb(46, 46, 46);
	padding: 0px;
}

div.banner {
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	max-height: 700px;
	padding: 40px;
	margin: 0px;
	overflow: hidden;
	font-size: 1.5em;
	position: relative;
}

div.banner-large {
	max-height: 100vh;
}

div.footer {
	font-size: 1.5em;
	padding: 50px 40px;
}

div.center-text {
	text-align: center;
}

div.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

div.bg-blue {
	background-color: rgb(28, 190, 233);
}

div.text-blue {
	color: rgb(28, 190, 233);
}

div.bottom {
	left: 0px;
	right: 0px;
	width: 100%;
	position: absolute;
	bottom: 0px;
}

div.bottom div {
	margin: 0px auto;
	text-align: center;
}

button {
	border: none;
	background-color: rgb(28, 190, 233);
	color: white;
	font-size: 1em;
	position: relative;
	/*border-radius: 10px;*/
	/*bottom: 0px;*/
	transition: 0.3s;
	transform: scale(1);
}

button:hover {
	transform: scale(1.1);
	/*bottom: 10px;*/
}


div.navbox {
	text-align: right;
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100vw;
	background-color: rgb(46, 46, 46);
	padding: 5px 8px;
	z-index: 1;
	font-size: 1.2em;
}

div.navbox a {
	text-decoration: none;
	color: rgb(28, 190, 233);
	margin: 0px 10px;
}

div.navbox p {
	margin: 0px;
}

@media (min-width: 400px) {

	div.banner {
		font-size: 2em;
	}

	div.navbox {
		padding: 10px 30px;
	}

	div.navbox a {
		margin: 0px 6px;
	}

}

/*@media (min-width: 1300px) {

	div.navbox {
		background-color: transparent;
	}

}*/

@media (min-width: 1600px) {

	div.navbox {
		font-size: 1.4em;
	}

}

div.navbox a:visited {
	color: rgb(28, 190, 233);
}

div.navbox a.orange {
	color: rgb(233, 127, 28);
}

/*img {
	width: auto;
	height: auto;
	max-width: calc(100vw - 20px);
}*/

#downarrow {
	width: 40px;
	height: 40px;
	position: relative;
	top: 27px;
}

#heart {
	width: 30px;
	height: auto;
	position: relative;
	top: 3px;
}

p, li {
	font-family: 'Titillium Web', sans-serif;
}

ul, li {
	list-style-type: '- ';
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Josefin Sans', sans-serif;
}

div.doc-nav, div.doc-body {
	font-size: 1.3em;
}

div.doc-nav {
	position: fixed;
	width: 200px;
	height: 100vh;
	/*padding: 30px;*/
	border-right: 1px solid rgb(28, 190, 233);
	padding: 10px 0px;
}

div.doc-nav p, div.doc-nav h1 {
	padding: 0px 30px;
}

div.doc-nav a {
	color: rgb(28, 190, 233);
	text-decoration: none;
}

div.doc-nav p:hover {
	background-color: rgb(28, 190, 233);
	color: white;
}

div.doc-body {
	margin-left: 200px;
	padding: 10px 70px;
}

div.doc-body h1 {
	position: relative;
	left: -16px;
	border-left: 8px solid rgb(28, 190, 233);
	padding-left: 16px;
}

code {
	font-family: 'Inconsolata', monospace;
	border: 1px solid lightgrey;
	margin: 2px;
	padding: 2px 4px;
}

h2 code {
	border: none;
}

span.imp {
	color: #1cbee9;
}

div.doc-body a {
	color: rgb(155, 28, 233);
}

@media (max-width: 700px) {
	div.doc-nav {
		padding: 10px 5px;
		width: 160px;
	}
	div.doc-nav p, div.doc-nav h1 {
		padding: 0px 10px;
	}
	div.doc-body {
		margin-left: 160px;
		padding: 10px 40px;
	}
}

@media (max-width: 500px) {
	div.doc-nav {
		display: none;
	}
	div.doc-body {
		margin-left: 0px;
		padding: 10px 20px;
	}
}

button::-moz-focus-inner {
	border: 0;
}
